[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/rari-capital/solmate
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/create3-factory"]
	path = lib/create3-factory
	url = https://github.com/zeframlou/create3-factory
[submodule "lib/v3-core"]
	path = lib/v3-core
	url = https://github.com/uniswap/v3-core
	branch = 0.8
[submodule "lib/bunni"]
	path = lib/bunni
	url = https://github.com/zeframlou/bunni
